.box {
  width: 150px;
  height: 150px;
  background-color: green;
  animation-name: changeBgColor;
  animation-delay: ease-in-out;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  position: relative;
}

@keyframes changeBgColor {
  0% {
    background-color: yellow;
    transform: translate(0, 0);
  }

  25% {
    background-color: purple;
    transform: translate(0, 500px);
  }

  50% {
    background-color: rgb(128, 98, 0);
    transform: translate(500px, 500px);
  }
  75% {
    background-color: purple;
    transform: translate(500px, 0);
  }
  100% {
    border-color: cornflowerblue;
    transform: translate(0, 0);
  }
}
